<div class="container">

  <h2 class="mb-4 ml-5 text-left pt-5"><strong>新規会員登録</strong></h2>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field ml-5">
          <%= f.label "名前(20字以内)" %><br />
          <%= f.text_field :name, autofocus: true, size: 30 %>
        </div>

        <div class="field ml-5">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %>
        </div>

        <div class="field ml-5">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",size: 30 %>
        </div>

        <div class="field ml-5">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",size: 30 %>
        </div>

        <div class="actions mt-5 ml-5">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      <% end %>

    <h5 class="text-danger text-left mt-5 ml-5"><strong>すでに登録済みの方は</strong></h5>
    <p class="text-left ml-5"><%= link_to "こちら", new_user_session_path %>からログインしてください。</p>
  </div>
