<div class="container">
  <div class="col-xs-12">
    <% if @model == "user" %>
    <h2>Users search for '<%= @value %>'</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Introduction</th>
            </tr>
        </thead>
    <% @datas.each do |user| %>
        <tbody>
            <tr>
                <th>
                    <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "human_noimage.png", size:'40x40') %>
                </th>
                <th>
                    <%= user.name %>
                </th>
                <th>
                    <%= user.introduction %>
                </th>
            </tr>
        </tbody>
    <% end %>
    <% elsif @model == "cook" %>
    <h2>Cooks search for '<%= @value %>'</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
        </thead>
        <% @datas.each do |cook| %>
        <tbody>
            <tr>
                <th>
                  <%= link_to cook_path(cook.id) do %>
                <%= attachment_image_tag cook, :cook_image, format: 'png', fallback: "noimage.png",size: "40x40" %>
                
              <% end %>
                </th>
                <th>
                    <%= link_to cook.title, "/cooks/#{cook.id}" %>
                </th>
                <td>
                <% cook.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
              </td>
                <th>
                    <%= cook.body %>
                </th>
                <td id="favorite_buttons_<%= cook.id %>">
            <%= render "favorites/favorites", cook: cook %>
            </td>
            <td>コメント数: <%= cook.cook_comments.count %></td>
            <td><%= @rate[cook.id].round(1) %></td>
            </tr>
        </tbody>
        <% end %>
    <% end %>
    </table>
  </div>
</div>