<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      </div>
    <div class="col-md-8 offset-md-1">
      <h2>Cooks</h2>
      <%= form_with url: tag_search_path, method: :get do %>
       <%= select_tag :tag_id,
           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
       {
          prompt: 'タグで絞り込み',
          onchange: 'submit(this.form);'
        }%>
      <% end %>
      
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Tag</th>
            <th colspan="3">Opinion</th>
            <th>評価(平均)</th>
          </tr>
        </thead>
        <tbody>
          <% @cooks.each do |cook| %>
          <tr>
            <th>
              <%= link_to cook_path(cook.id) do %>
                <%= attachment_image_tag @cook, :cook_image, format: 'png', fallback: "noimage.png",size: "40x40" %>
                
              <% end %>
            <th>
              <%= link_to cook.title, "/cooks/#{cook.id}" %>
            </th>
            <th>
              <% cook.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </th>
            <th><%= cook.body %></th>
            <td id="favorite_buttons_<%= cook.id %>">
            <%= render "favorites/favorites", cook: cook %>
            </td>
            <td>コメント数: <%= cook.cook_comments.count %></td>
            <td><%= @rate[cook.id].round(1) %></td>
          <% end %>

        </tbody>
        
      </table>
    </div>
  </div>
</div>