<div class="container mt-5">
    <h2 class="bg-light text-center">みんなの投稿一覧</h2>
    <%= form_with url: tag_search_path, method: :get do %>
      <%= select_tag :tag_id,
        options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
      {
        prompt: 'タグで絞り込み',
        onchange: 'submit(this.form);'
      }%>
    <% end %>

    <table class="table table-hover table-inverse mt-5">
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>タグ</th>
          <th colspan="3">レシピ説明</th>
          <th>評価(平均)</th>
        </tr>
      </thead>
      <tbody>
        <% @cooks.each do |cook| %>
          <tr>
            <th>
              <%= link_to cook_path(cook.id) do %>
                <%= attachment_image_tag cook, :cook_image, format: 'png', fallback: "noimage.png",size: "40x40" %>
              <% end %>
            <th>
              <%= link_to cook.title, "/cooks/#{cook.id}" %>
            </th>
            <th>
              <% cook.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </th>
            <th><%= cook.body %></th>
            <td id="favorite_buttons_<%= cook.id %>">
            <%= render "favorites/favorites", cook: cook %>
            </td>
            <td>コメント数: <%= cook.cook_comments.count %></td>
            <% if @rate[cook.id] %>
            <td><%= @rate[cook.id].round(1) %></td>
            <% else %>
            <td>評価なし</td>
            <% end %>
          <% end %>
      </tbody>
  </table>
  <%= paginate @cooks %>
</div>