<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="text-center pt-5"><strong>投稿画面</strong></h2>
      <%= form_with model: @cook, url:'/cooks', local:true do |f| %>
        <div class="form-group">
     　    <%= f.label "タイトル(30字以内)"  %>
          <%= f.text_field :title, class:"form-control cook_title" %>
        </div>
        <div class="form-group">
          <label for="cook_image">完成写真</label>
          <%= f.attachment_field :cook_image %>
        </div>
        <div class="form-group">
          <%= f.label :レシピ %>
          <%= f.text_area :body, class:"form-control cook_body" %>
        </div>
        <div class="field">
          <%= f.label :タグ %>
          <%= f.text_field :tag_ids, class: "form-control", id:'tag_ids',\
           placeholder: "タグをつける。複数つけるには','で区切ってください。" %>
  　　    </div>
        <div class="form-group text-center">
          <%= f.submit '投稿する', class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>