<h2>プロフィール</h2>
  <%= attachment_image_tag user, :profile_image, format: 'png', fallback: "human_noimage.jpg",size: "200x200" %>
    <table class="table">
      <tbody>
        <tr></tr>
        <tr>
          <td>名前</td>
	        <td><%= user.name %></td>
        </tr>
        <tr>
	        <td>一言</td>
	        <td><%= user.introduction %></td>
        </tr>
        <tr>
          <td>フォロー</td>
          <td><%= link_to user.following_user.count, user_followings_path(user) %></td>
        </tr>
        <tr>
          <td>フォロワー</td>
          <td><%= link_to user.follower_user.count, user_followers_path(user) %></td>
        </tr>
      </tbody>
  </table>
  <% unless @user.id == current_user.id %>
  <% if current_user.following?(user) %>
      <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
    <% else %>
      <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
    <% end %>
  
  <% end %>
    <div class="row">
      <%= link_to edit_user_path(user),class:"btn btn-outline-secondary btn-block fas fa-user-cog" do %>
      <% end %>
    </div>
    