<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Users</h2>
          <table class="table">
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th></th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <% @users.each do |user| %>
                <th>
                  <%= attachment_image_tag user, :profile_image, format: 'png', fallback: "human_noimage.png",size: "40x40" %>
                </th>
                <th>
                  <%= user.name %>
                </th>
                <th>
                  <%= user.introduction %>
                </th>
                <th>
                  <% unless user.id == current_user.id %>
                    <% if current_user.following?(user) %>
                      <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
                    <% else %>
                      <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
                    <% end %>
                    <% end %>
                </th>
          <td>フォロー<%= link_to user.following_user.count, user_followings_path(user) %>人</td>
        
          <td>フォロワー<%= link_to user.follower_user.count, user_followers_path(user) %>人</td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>