<div class="container">
  <div class="row">
    <div class="col mt-5">
      <%= render 'users/user_info', user: @user %>
    </div>
    <div class="col-8 mt-5">
      <h2 class="text-center"><strong>投稿料理一覧</strong></h2>
      <table class="table table-hover table-inverse ">
        <thead class="thead-dark">
            <tr>
                <th>完成写真</th>
                <th>タイトル</th>
                <th>コメント数</th>
                <th>評価(平均)</th>
            </tr>
        </thead>
        <tbody>
          <% @cooks.each do |cook| %>
            <tr>
              <td>
                <%= link_to user_path(cook.user_id) do %>
                  <%= attachment_image_tag cook, :cook_image, format: 'png', fallback: "noimage.png",size: "100x100" %>
                <% end %>
              </td>
              <td>
                <%= link_to cook.title, "/cooks/#{cook.id}" %>
              </td>
              <td><%= cook.cook_comments.count %></td>
                <% if @rate[cook.id] %>
                  <td><%= @rate[cook.id].round(1) %></td>
                <% else %>
                  <td>評価なし</td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @cooks %>
    </div>
  </div>
</div>