<div class="container mt-5">

  <h2 class="bg-light mb-4 ml-5 text-left">ログイン</h2>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <div class="field ml-5 mt-5">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %>
  </div>

  <div class="field ml-5 mt-5">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", size: 30 %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field ml-5">
      <%= f.check_box :remember_me %>
      <%= f.label :パスワードを記憶 %>
    </div>
  <% end %>

  <div class="actions mt-5 ml-5">
    <%= f.submit "ログイン", class: "btn btn-success" %>
  </div>
<% end %>

<h5 class="bg-light text-left mt-5 ml-5">登録がまだの方は</h5>
    <p class="text-left ml-5"><%= link_to "こちら", new_user_registration_path %>から新規登録してください。</p>
    </div>
