<nav class="navbar navbar-expand-lg navbar-dark kou">
  <div class="container">
    <a class="navbar-brand" href="/" ><%= image_tag 'CookNoah.png', class: "logo" %></a>
      <% if user_signed_in?  %>
        <div class="headtext login-name" style="margin-left: 10vw;">ようこそ、<%= current_user.name %>さん！</div>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <div class="row">

              <% if user_signed_in? %>
                </div>
              </div>
              <li><%= link_to "Home", user_path(current_user.id),class:"fas fa-home nav-link headtext" %></li>
              <li><%= link_to "users", users_path,class:"fas fa-users nav-link headtext" %></li>
              <li><%= link_to "cooks", cooks_path,class:"fas fa-utensils nav-link headtext" %></li>
              <li><%= link_to "logout", destroy_user_session_path,class:"fas fa-sign-out-alt nav-link headtext", method: :delete %></li>
              <% else %>
              <li><%= link_to "Home", root_path,class:"fas fa-home nav-link headtext" %></li>
              <li><%= link_to "about", about_path,class:"fas fa-link nav-link headtext" %></li>
              <li>
                <%= link_to "sign up", new_user_registration_path,class:"fas fa-user-plus nav-link headtext" %>
              </li>
              <li>
                 <%= link_to "login", new_user_session_path,class:"fas fa-sign-in-alt nav-link headtext" %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>