<!DOCTYPE html>
<html>
  <head>
    <title>Cooknoah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div class="wrapper">
    <% if flash[:notice] %>
      <p id="notice">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <%= yield %>
    </div>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>

</html>
